/*VARIABLE*/
$tono-fuerte = #1B1D26
$tono-medio = #425955
$tono-suave = #778C7A
$casi-blanco = #FFF
$gris = #BFBD9F

/*KEYFRAMES*/
@keyframes fade-in {
  from {
    opacity 0
    margin-top 0
  }
  to {
  	margin-top 4em
  	opacity 1
  }
}

*
	margin 0			
	padding 0
	box-sizing border-box
body
	background $casi-blanco
	width 100%
	height 100%
	font-size 100%
	font-family 'Archivo Narrow', sans-serif
	position relative
header
	background $tono-fuerte
	height 50px
	position fixed
	padding-top 1em
	width 100%
	z-index 2
section 
	overflow-x hidden
.no-padding 
	padding 0
.social
	margin 0
	& li 
		list-style none
		display inline
		margin 1em
		& a 
			color white
			font-size 2em
.right
	font-size 3em
	color white
	text-align right
	cursor pointer
	line-height 0
.main-sidebar
	background $casi-blanco
	& li
		list-style none
		& a 
			color $casi-blanco
.full-height
	height 100vh
	padding-top 50px
	position relative
	background $casi-blanco
	z-index 1
	& h1, h2
		font-size 3.5em
		margin 0
		& span
			color $tono-medio
.logo-home
	animation fade-in 3s normal forwards
	margin 4em auto 2em
.btn-about
	background none
	font-size 2em
	cursor pointer
	margin 1em auto
	padding .75em 1em 0
	text-align center
	text-transform uppercase
	display block
	color $tono-fuerte
	border solid .175em $tono-medio
	width 220px
	height 70px
	&:hover, :focus, :active
		text-decoration none
	&:before
		background $tono-medio
//ABOUT ME
.img-bg-cont
	position absolute
	z-index 1
	right 1em
	top 20%
.about-cont
	position absolute
	z-index 2
	top 50px
	width 100%
.col-left-about
	position relative
	& .title
		width 100%
		text-transform uppercase
		font-size .75em
		color $casi-blanco
		background $tono-medio
		position absolute
		padding 2em .5em 
		top 5em
		z-index 3
		& h2 
			margin-right 3em
	& .box-text
		position absolute
		background $casi-blanco
		font-family: 'Lora', serif;
		z-index 2
		font-size 2em
		top 2em
		right 3em
		padding 4em 1em 1em;
		width 75%
		border .175em solid $tono-medio
.btn-col-right
	background rgba(255, 255, 255, .75)
	border-right solid .5em $tono-medio
	font-size 2em
	font-weight 700
	text-transform uppercase
	padding 1em
	text-align right
	width 70%
	color $tono-fuerte
	position absolute
	right 0
	&:hover
		text-decoration none
		color $tono-fuerte
	&:before
		background $casi-blanco
.donde
	top 7em
.conocimientos
	top 14em
.hablemos
	top 21em

				
@media(max-width:768px)
	.logo-home
		max-width 70%
		margin-left auto
		margin-right auto
	.social li 
		margin .25em
		& a 
			margin 0
	.full-height
		height auto
		padding-top 50px
		position relative
		background $casi-blanco
		z-index 1
		& h1, h2
			font-size 2.5em
			margin 0
			& span
				color $tono-medio
		